<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>AngularJS example</title>
    <link href="" rel="stylesheet" type="text/css">

</head>

<body ng-controller="MyController">
    <h1>AngularJS example</h1>

    <p>{{message}}</p>
    <input ng-model="name" placeholder="Name">
    <input ng-model="age" placeholder="Age">
    <button ng-click="addPerson()">Add</button>
    <ul>
        <li ng-repeat="person in people">{{person.name}} : {{person.age}}</li>
        

    </ul>


    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>